{%extends "layout.html"%}
{%from 'macros/icons.html' import trashcan,pencil,pin%}

{%block head_content%}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{%endblock%}

{%block main_content%}
    <section class="notes pinned">
        <h1 class="pinned__heading">Pinned notes</h1>
        
        {%if not pinned_notes%}
            <p class="empty__message">You have no pinned notes.</p>
        {%else%}
            <div class="notes__grid">
                {%for note in pinned_notes%}
                    <article class="note__container">
                        <div class="note__details">
                            <h2 class="note__detail">{{note.title | truncate(20,true)}}</h2>
                            <p class="note__detail">{{note.content|truncate(35,true)}}</p>
                        </div>

                        <div class="note__extra">
                            <div class="note__extra-details">
                                <p class="date">Created: {{note.created}}</p>
                                <p class="date">Last edited: {{note.last_edited}}</p>
                            </div>
                            <div class="note__options">
                                <a class="option__link" href="{{url_for('pages.view_note',_id=note._id)}}">View</a>
                                <a class="option__link" href="{{url_for('pages.delete_note',_id=note._id)}}">{{trashcan("link-icon")}}</a>
                                <a class="option__link" href="{{url_for('pages.edit_note',_id=note._id)}}">{{pencil("link-icon")}}</a>
                                <a class="option__link" href="{{url_for('pages.change_pin',_id=note._id)}}">{{pin("link-icon pin_logo")}}</a>
                            </div>
                        </div>
                    </article>
                {%endfor%}
            </div>
        {%endif%}
    </section>

    <section class="notes">
        <h1 class="notes__heading">Notes</h1>
        
        {%if not notes%}
            <p class="empty__message">You have no notes. <a class="note__link" href="{{url_for('pages.add_note')}}">Add one here</a>.</p>
        {%else%}
            <div class="notes__grid">
                {%for note in notes%}
                    <article class="note__container">
                        <div class="note__details">
                            <h2 class="note__detail">{{note.title | truncate(20,true)}}</h2>
                            <p class="note__detail">{{note.content|truncate(35,true)}}</p>
                        </div>

                        <div class="note__extra">
                            <div class="note__extra-details">
                                <p class="date">Created: {{note.created}}</p>
                                <p class="date">Last edited: {{note.last_edited}}</p>
                            </div>
                            <div class="note__options">
                                <a class="option__link" href="{{url_for('pages.view_note',_id=note._id)}}">View</a>
                                <a class="option__link" href="{{url_for('pages.delete_note',_id=note._id)}}">{{trashcan("link-icon")}}</a>
                                <a class="option__link" href="{{url_for('pages.edit_note',_id=note._id)}}">{{pencil("link-icon")}}</a>
                                <a class="option__link" href="{{url_for('pages.change_pin',_id=note._id)}}">{{pin("link-icon")}}</a>
                            </div>
                        </div>
                    </article>
                {%endfor%}
            </div>
        {%endif%}
    </section>

{%endblock%}