{%from "macros/icons.html" import logo,sun,moon%}

<!DOCTYPE html>
<html lang="en" class="{{'dark' if session.get('theme')=='dark'}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/reset.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
    <link rel="icon" href="{{url_for('static',filename='images/NoteVortex-logo.png')}}" type="image/x-icon">
    {%block head_content%}{%endblock%}
    <title>{{title}}</title>
</head>
<body>
    <header class="header">
        <div class="navbar">
            <a class="title" href="{{url_for('pages.index')}}">
                {{logo("navbar__logo")}}
                <span class="navbar__title">NoteVortex</span>
            </a>
            <nav class="nav">
                {%if session.get("email")%}
                    <a href="{{url_for('pages.add_note')}}" class="nav__link {{'nav__link-active' if request.path==url_for('pages.add_note')}}">
                        <span class="nav__item">Add Note</span>
                    </a>
                    <a href="{{url_for('pages.index')}}" class="nav__link {{'nav__link-active' if request.path==url_for('pages.index')}}">
                        <span class="nav__item">Notes</span>
                    </a>
                    <a class="nav__link" href="{{url_for('pages.logout')}}">
                        <span class="nav__item">Logout</span>
                    </a>
                {%else%}
                    <a href="{{url_for('pages.login')}}"class="nav__link {{'nav__link-active' if request.path==url_for('pages.login')}}">
                        <span class="nav__item">Login</span>
                    </a>
                    <a href= "{{url_for('pages.register')}}" class="nav__link {{'nav__link-active' if request.path==url_for('pages.register')}}">
                        <span class="nav__item">Register</span>
                    </a>
                {%endif%}
                <a class="nav__link" href="{{url_for('pages.change_theme',current_page=request.path)}}">
                    {%if session.get("email")=="dark"%}
                        {{sun("nav__item nav__image")}}
                    {%else%}
                        {{moon("nav__item nav__image")}}
                    {%endif%}
                </a>
            </nav>
        </div>
    </header>
    <main class="main">
        {%block main_content%}{%endblock%}
    </main>
    <footer class="footer">
        <small>Copyright &copy;2023. <a class="footer__link" href="https://github.com/Anonymous-1O1/NoteVortex">NoteVortex</a>. All rights reserved</small>
    </footer>
</body>
</html>