{%extends "layout.html"%}

{%block head_content%}
<link rel="stylesheet" href="{{url_for('static',filename='css/view.css')}}">
{%endblock%}

{%block main_content%}
    <section class="note">
            <div class="note__pre-details">
                <h1 class="heading">{{note.title}}</h1>
                <p class="date">Created: {{note.created}}<br>Last Edited: {{note.last_edited}}</p>
            </div>
            <h3 class="content">{{note.content}}</h3>
        <div  class="button__container">
            <a href="{{url_for('pages.index')}}" class="button">Back</a>
        </div>
    </section>
{%endblock%}