.pinned,.notes{
    margin:0 auto;
    max-width:70em;
    padding:2em 0;
}

.pinned__heading,.notes__heading{
    color:var(--main-color)
}

.empty__message{
    text-align: center;
    color:var(--main-color);
    padding:2em;
}

.note__link{
    text-decoration: none;
    color:var(--accent-color);
}

.note__link:hover{
    color:var(--accent-focus)
}


.notes__grid{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1.25rem;
    row-gap:1rem;
    justify-content: center;
    justify-items:center;
    max-width: 21.875rem;;
    margin:0 auto;
}


@media (min-width:48.75em){
    .notes__grid{
        grid-template-columns: repeat(2,1fr);
        max-width: 45rem;
    }
}

@media(min-width:70em){
    .notes__grid{
        grid-template-columns: repeat(3,1fr);
        max-width:68rem
    }
}


.note__container{
    border:1px solid var(--main-color);
    height:100%;
    width:100%;
    margin:1em;
    padding:1em;

}


.note__details{
    color:var(--main-color);
}

.note__extra{
    margin-top:1em;
}

.note__options{
    display:flex;
    flex-direction: row;
}

.date{
    font-size: 0.8em;
    color:var(--main-color);
}

.option__link{
    text-decoration: none;
    color:var(--main-color);
    margin-top:0.5em;
    font-size:0.8em;
}

.option__link:not(:last-of-type){
    margin-right:0.5em;
}
.link-icon{
    height:1.5em;
    width:1.5em;
    color:inherit;
}

.pin_logo{
    color:var(--accent-focus);
}

.option__link:hover{
    color:var(--accent-color);
}

